/*--------------------FONTS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");

/*--------------------VARIABLES--------------------*/

// font-family
$primary-font: "Changa", sans-serif;
$secondary-font: "Open Sans", sans-serif;

// main-color-palettes

$primary-color: #bb474f;
$secondary-color: #232221;
$tertiary-color: #486b7f;
$quaternary-color: #7a9c96;
$light-color: #f5f1ed;
$text-color: #9f9f9f;

// hover-color-palettes

$hover-primary-color: #97383e;
$hover-secondary-color: #1c1b1a;
$hover-tertiary-color: #3a5666;
$hover-quaternary-color: #5f7f7a;
// $hover-light-color:#b5987f;
